.character {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  transition: 1s;
  background-color: rgba(155, 122, 122, 0.795);
  padding: 15px 0px;
}

img {
  margin: 0;
  margin-top: 5px;
  height: 90%;
  border-radius: 10px;
}

.info-p {
  text-align: center;
  color: inherit;
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 0;
}

.main-info {
  width: 90%;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 10px;
}

.char-info-p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.char-info-p span:first-child {
  font-weight: 300;
  text-transform: uppercase;
}

.char-info-p span:last-child {
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  img {
    width: 60%;
  }
  .selected-char {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .left-side {
    width: 100%;
  }
  .character {
    width: 90%;
    margin: 10px auto;
  }
}
