.character {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    flex: 1 1 230px;
    transition: 1s;
    background-color: rgba(155, 122, 122, 0.795);
    padding: 5px;
}

img {
    margin: 0;
    margin-top: 5px;
    height: 90%;
    border-radius: 10px;
}

.info-p {
    text-align: center;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
}

.right-side {
    display: flex;
    justify-content: center;
    transition: 2s;
    width: 60%;
    height: 100%;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px;
}

.selected-char {
    display: flex;
    align-items: center;
    transition: 2s;
    margin: 15px auto;
    margin-bottom: 30px;
    width: 50%;
    color: rgba(177, 174, 174, 0.767);
    border-radius: 10px;
}

.left-side {
    background-color: rgba(87, 79, 80, 0.342);
    border-radius: 10px;
    width:40%;
}

@media screen and (max-width: 700px) {
    .img {
        width: 60%;
    }
    .selected-char {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }
    .left-side {
        width: 100%;
    }
    .right-side {
        width: 100%;
    }
   
}