.character {
    display: flex;
    flex-direction: row;
    margin: 15px;
    cursor: pointer;
}

img {
    margin: 0;
}

.info {
    background-color: rgba(53, 18, 18, 0.157);
    min-height: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.info p {
    color: whitesmoke;
    font-weight: 500;
    background-color: rgba(33, 10, 10, 0.2);
    margin:4px auto;
    padding: 10px auto;
    border-radius: 30%;
    width: 90%;
}

.right-side {
    transition: 2s;
    width: 70%;
    height: 100%;
    background-color: rgb(241, 235, 235);
}

.selected-char {
    display: flex;
    transition: 2s;

    min-width: 95%;
}

.left-side {
    width: 30%;
}

.char-inactive {
    height: 100%;
}