.char-info-div {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: rgb(54, 52, 52);
    margin: 0 auto;
    padding: 10px;
    color: rgba(177, 174, 174, 0.767);
}

.x-div {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    min-height: 10%;
    margin: 0 auto;
}

.x-p {
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(146, 128, 128, 0.712);
    border-radius: 50%;
    text-align: center;
}

.x-p:hover {
    font-weight: 800;
    background-color: rgba(212, 198, 198, 0.788) !important;
}

.x-div h1 {
    text-align: center;
    width: 90%;
}


.main-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    height: 90%;
}

.char-info-p {
    flex: 1;
}
.char-info-p span{
    font-weight: 600;
}