.char-info-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.x-div {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    height: 10%;
    margin: 0 auto;
}

.x-p {
    cursor: pointer;
    font-size: 20px;
}

