.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(30, 29, 31, 0.815);
    max-height: 5%;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    position: fixed;
    top: 0;
}

.main-header h1 { 
    width: 40%;
    color: rgba(177, 174, 174, 0.767);
}
