.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.144);
    height: 10%;
    width: 95%;
    margin: 0 auto;
}

.main-header h1 { 
    width: 40%;
}